@import '~bootstrap/dist/css/bootstrap.min.css';
.img {
    width: 50px;
    height: 50px;
}
.detail {
    margin: 8px;
    padding: 8px;
    border-bottom: 1px solid black;
}
.no-item {
    text-align: center;
    color: red;
    font-size: 16px;
}
.text-rigght {
    text-align: right;
}

button {
    margin: 8px;
}